.scroll_container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.scroll_content {
  display: flex;
  width: max-content;
  /* animation: marquee 40s linear infinite; */
}

.scroll_content:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
