.blocks_card_body {
    padding: 0;
}

.blocks_row {
    margin: 0 0.5rem;
    padding: 0;
}

.blocks_col {
    margin-top: 0.6rem;
    margin-bottom: 1.5rem;
}

.blocks_card {
    margin: 0;
    padding: 0;
    overflow: hidden;
}